.NEX,
.PREV {
  background-color: red !important;
  border-radius: 50%;
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
.scalar-recipe-card-section {
  flex-direction: column;
  width: auto;
  row-gap: 120px !important;
  align-items: center;
}
.with-partner img {
  height: 28px !important;
}
.companies-img-container img, .logo {
  height: 16px !important;
}
.awards-thumb span {
  text-align: center;
  height: 75px !important;
}
.co, .con, .imr {
  width: 290px!important;
}
.alumni-group-img-section {
  background-size: 300px !important;
  height: 453px !important;
}
}
@media screen and (max-width: 900px) {
  .ULI .dropdown {
    top: -236px !important;
  }
  .long {
    height: 31px !important;
    top: -12px !important;
    left: -4px !important;
}

  .imr {
    margin: -2rem 0 0!important;
}
  .st-image li img {
    border-radius: 50%;
    max-width: 25px !important;
    height: 30px !important;
}
.logo img, .tion {
  width: 40px !important;
  height: 18px !important;
}
  .awards-section,
  .data1 {
    grid-template-columns: auto auto auto;
  }
  .inner-card {
    height: 175px;
  }
  .counter-numbers {
    margin: 20px 10px 0;
  }
  .book-form .form-cont span {
    font-size: 16px;
  }
  .book-form .form-cont h3 {
    font-size: 19px;
  }
  .nasc {
    height: 26px !important;
  }
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .Train {
    height: 50vw !important;
    overflow-y: scroll !important;
  }
  .data_main_heading {
    color: #000;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }
  .DELs,
  .data2 {
    text-align: justify;
  }
  .career-session-right-box img {
    margin: 0;
  }
  #sk_google_reviews_slider {
    width: 100vw !important;
  }
  .MAI-N {
    margin: 50px 0 0 !important;
  }
  .INS-IMG {
    height: 40%;
    margin: 10px 0 0 -21px;
  }
  #tor {
    margin: 3rem 0 0 !important;
    height: 56rem !important;
  }
  .corp-banner-img {
    opacity: 0.5;
    height: 100%;
  }
  .to {
    margin: 7rem 0 4rem !important;
  }
  .logoimages {
    height: 4rem;
   
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 0 -10px;
  }
  .banner {
    background-color: #f7fafe;
    padding-bottom: 50px;
    margin-top: 120px;
  }
  .data_main_subheading {
    color: #000;
    text-align: justify;
    padding: 18px;
  }
  .data_main_subheading1 {
    padding: 15px 40px 0;
  }
  .data1 {
    display: grid !important;
    column-gap: 20px;
    display: grid;
  }
  .data2 {
    margin: 0 0 0 20px;
  }
  .ft-courses {
    margin: 0 -45px;
  }
  .course-right-section {
    height: 480px;
    overflow-y: scroll !important;
  }
  .corp-banner-container {
    position: relative;
    background-color: #000;
  }
  .coursep {
    font-size: 11px;
  }
  .course-left-section ul li {
    font-size: 12px !important;
    min-height: 40px;
  }
  #active-dropdown-course {
    border-radius: 0 30px 0 19px !important;
    width: 30vw;
  }
  .glo {
    font-size: 9px;
    padding: 0;
  }
  .form-header-container .header-section {
    text-align: center;
    margin: 0 0 52px;
    font-size: 22px;
  }
  .courses {
    width: auto;
    height: 145px !important;
    min-height: 130px;
  }
  #active-course {
    display: flex !important;
    flex-direction: column;
  }
  .scaler-reciper {
    width: 345px !important;
    min-height: 475px;
  }
  .inner-car {
    bottom: -16%;
  }
  .im {
    margin: 0 !important;
  }
  .footer-thumb {
    width: fit-content;
    margin: 0 20px !important;
  }
  .padd {
    margin-left: 0 !important;
    margin: -15rem 0 0;
  }
  .paddi {
    margin: -15rem 0 0;
  }
  .con {
    width: 92% !important;
    border-radius: 15px;
    margin: -2rem 0 0 25px;
  }
  .place {
    width: 100%;
    height: auto !important;
  }
  .footer-main-form-container .form-header-container .header-section {
    margin: 0 0 36px !important;
    font-size: 22px;
  }
  .alumni-group-img-section,
  .alumni-img-section,
  .awards-thumb,
  .banner-right-box,
  .career-session-right-box,
  .certificate-left-box p,
  .certificate-right-box-container,
  .course-card-section,
  .footer-main-form-container,
  .main-container,
  form select {
    width: auto;
  }
  h2 {
    font-size: 17px;
    margin: 45px 0 0 10px;
  }
  h1 {
    font-size: 20px;
  }
  .career-session-container {
    width: auto !important;
  }
  .detail {
    column-gap: 0 !important;
  }
  .DELs {
    width: 95vw;
  }
  .book-form .form-cont .buttons a {
    margin-right: 4%;
    font-size: 11px;
    width: 100%;
    text-align: center;
  }
  .certificate-container {
    width: auto !important;
    height: auto !important;
  }
  .banner-container {
    margin-top: 50px;
    padding: 10px 0;
  }
  .alumni-container,
  .alumni-review-section {
    width: auto;
    padding: 0 10px;
  }
  .pop-up-form-container {
    width: 90vw;
    left: 5%;
  }
  .form-section {
    padding: 15px;
  }
  .alumni-image-thumb,
  .banner-section,
  .career-section-thumb,
  .footer-middle {
    flex-direction: column;
  }
  .btn-container {
    justify-content: space-evenly;
    margin-bottom: 30px;
  }
  .associate-logo,
  .certified-logo {
    justify-content: space-around;
  }
  .awards-section {
    display: grid;
    row-gap: 30px;
  }
  .awards-recognition-container {
    margin-top: 70px;
  }
  .form-main-container {
    width: 90vw;
    padding: 40px 15px;
  }
  .training-course-select-section {
    flex-direction: column;
    row-gap: 10px;
    width: auto;
  }
  .placement-company span,
  form select option {
    font-size: 10px;
  }
  .form-container form {
    row-gap: 15px;
  }
  .career-session-container {
    margin: 0 0 0 11px;
  }
  .social-giveback {
    display: grid;
    grid-template-columns: auto;
    margin-top: 0;
    margin-bottom: -6rem;
  }
  .img1 {
    display: block !important;
  }
  .img1 img {
    width: 97% !important;
  }
  .numbers-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  .review-card-section,
  .scalar {
    display: flex;
  }
  .course-card-thumb {
    grid-template-columns: none;
    justify-content: center;
    row-gap: 20px;
  }
  .course-card-container {
    overflow: scroll;
  }
  .course-name-section ul li {
    width: fit-content;
    font-size: 12px;
    padding: 5px;
  }
  .course-name-section ul {
    border: none;
    box-shadow: none;
  }
  .alumni-image-detail-container,
  .course-name-container {
    width: 100%;
  }
  .companies-img-container img,
  .logo {
    height: 15px;
  }
  .course-card-section p,
  .review-card .review-text,
  .time-month-student {
    font-size: 12px;
  }
  .scalar-recipe-card-section {
    flex-direction: column;
    width: auto;
    row-gap: 80px;
    align-items: center;
  }
  .scalar {
    flex-direction: column;
    width: auto;
    row-gap: 0 !important;
    align-items: center;
  }
  .alumni-main-container,
  .contact-banner-container,
  .review-container,
  .scalar-recipe-container {
    margin-top: 50px;
  }
  .partner {
    padding: 10px;
  }
  .partner h3 {
    font-size: 18px;
  }
  .certificate-left-box h2 {
    line-height: 25px;
  }
  .certificate-detail ul li {
    font-size: 12px;
    line-height: 20px;
  }
  .certificate-section {
    flex-direction: column;
    padding: 10px 0;
  }
  .review-card,
  .review-card-section {
    padding: 10px;
    flex-direction: column;
  }
  .review-card {
    position: relative;
    width: auto;
    align-items: initial;
  }
  .name-placement {
    position: absolute;
    top: 40px;
    right: 30px;
    flex-direction: column;
    font-size: 12px;
    row-gap: 20px;
  }
  .learner-img-box {
    width: 40%;
  }
  .placement-company img {
    height: 10px;
  }
  .placement-company {
    height: 10px;
    column-gap: 10px;
  }
  .review-card p {
    font-size: 12px;
    padding: 0 30px;
  }
  .navigation-section ul {
    column-gap: 15px;
    row-gap: 30px !important;
  }
  .logo-container {
    height: 33px;
  }
  .nav-container {
    padding: 5px 5px 0;
    justify-content: space-between;
  }
  #course-text:hover .dropdown,
  .career-image-section {
    display: none;
  }
  .nav-top-head {
    display: inline-block;
    height: 72px !important;
    font-size: 12px;
    margin: -10px 0 0;
    width: 100% !important;
  }
  .nav-top-head span {
    margin: 0 3px 0 0;
  }
  #videoContainer {
    width: 95vw;
    margin: auto;
    height: 300px;
    padding: 5px;
    background-color: #fff;
    left: 0;
    right: 0;
  }
  #videoContainer iframe {
    height: 100%;
    width: 100%;
  }
  .watch-video-section {
    position: static;
  }
  .alumni-detail-container {
    flex-direction: column-reverse;
  }
  .alumni-image-thumb p {
    font-size: 12px;
    padding: 0 20px;
  }
  .right-left-arrow {
    margin-bottom: 30px;
    padding-right: 10px;
  }
  .dash-line {
    margin: 0 15px;
  }
  .companies-img-container {
    padding: 20px 0;
  }
  .footer-content {
    flex-direction: column;
    row-gap: 30px;
    margin-top: 50px;
  }
  .section-2 h3 {
    border-bottom: 1px solid #fff;
  }
  .social-icon-container {
    margin-bottom: 20px;
  }
  .footer-course-section {
    margin-bottom: 20px !important;
  }
  .footer-form {
    flex-direction: column;
    row-gap: 20px;
    padding: 0 10px;
  }
  .office-details-conatainer,
  .query-container {
    flex-direction: column;
    row-gap: 25px;
  }
  .office-thumb {
    max-width: none;
  }
}
@media screen and (min-width: 901px) and (max-width: 1080px) {
  .course-card-thumb {
    grid-template-columns: auto auto;
  }
  .scaler-reciper-card {
    width: 250px;
  }
  .scaler-reciper {
    width: 345px !important;
  }
}
@media screen and (max-width: 340px) {
  .course span {
    width: 140px;
  }
}
@media screen and (max-width: 320px) {
  .long {
    height: 25px !important;
    top: -4px !important;
    left: 3px !important;
}
  .nasc {
    height: 20px !important;
}

  .book-form .form-cont {
    padding: 62px 10px;
    color: #000;
    border-radius: 15px;
    width: -webkit-fill-available;
  }
  .book-form,
  .book-form h2 {
    margin: 0;
  }
  .book-form .form-cont span {
    font-size: 16px;
  }
  .book-form .form-cont h3 {
    font-size: 20px;
  }
  #active-dropdown-course {
    min-width: fit-content !important;
    width: 34vw !important;
    border-radius: 0 25px !important;
  }
  .TRAI-ning .course-detail-section {
    height: 415px !important;
  }
  .TRAI-ning {
    width: 120vw !important;
  }
  .DELs {
    width: 97%;
    text-align: justify;
  }
  .inner-car {
    bottom: -21%;
  }
  .Train {
    height: 55vw !important;
    overflow-y: scroll !important;
  }
  .RO1 img {
    margin: -12rem 0 0 -42px !important;
  }
  .ROW2 {
    margin: -35rem 0 0 -15px !important;
  }
  .RO {
    margin: -25rem 0 0 -16px !important;
  }
  .LO-G img {
    margin: -40px 0 69px -31px;
    height: 35px;
  }
  .INS-IMG {
    height: 34%;
  }
  .FLE-X img {
    height: 31% !important;
    margin: 7px 0 0 -26px;
  }
  .nav-top-head span {
    margin: 0 2px 0 0;
    font-size: 8px;
}
  .course-right-section {
    width: 100% !important;
    padding: 0 0 0 5px;
    font-size: 12px;
    text-align: center;
    height: 41vh;
    overflow-y: scroll !important;
  }
  .coursep {
    font-size: 11px;
  }
  .course-left-section ul li {
    font-size: 10px !important;
  }
  .glo {
    font-size: 9px;
    margin: 2px 0 8px;
    padding: 0;
  }
  .thum {
    width: 85px;
  }
  .im {
    margin: 0 !important;
  }
  .con {
    width: 95% !important;
    border-radius: 15px;
    margin: -2rem 0 0 7px;
  }
  .padd,
  .paddi {
    margin-left: 0 !important;
    margin: -18rem 0 0;
  }
  .place {
    width: 100%;
    height:auto !important;
  }
  .course span {
    width: 125px;
  }
  .form-container form input {
    padding: 10px 0;
  }
  .form-container form {
    row-gap: 0;
  }
  form .submit-btn {
    margin: 12px 0;
  }
}
@media screen and (max-width: 365px) {
  .course-card-section span {
    font-size: 10px;
  }
  .certified-logo img {
    width: 6%;
  }
  .scaler-reciper-card {
    width: auto;
  }
  .scaler-reciper {
    width: auto !important;
  }
  #hcl-img {
    height: 30px !important;
  }
  .placement-company {
    column-gap: 5px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1100px) {
  .certified-logo {
    column-gap: 5px !important;
}
.career-session-right-box img {
  width: 100%;
  margin:auto;
}
  .scalar-recipe-card-section {
    justify-content: space-around;
    width: 90vw;
  }
  .scalar {
    justify-content: space-around;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
  }
  .scaler-reciper-card {
    width: 300px;
  }
  .scaler-reciper {
    width: 345px !important;
  }
}
@media screen and (min-width: 781px) and (max-width: 1200px) {
  .alumni-detail-container {
    flex-direction: column-reverse;
  }
  .alumni-group-img-section {
    width: auto;
  }
  .alumni-image-detail-container {
    width: 100%;
    margin-bottom: 20px;
  }
  .alumni-image-thumb {
    flex-direction: row;
  }
  .alumni-img-section {
    width: 100%;
    height: 260px;
  }
}
@media screen and (max-width: 310px) {
  .scaler-reciper span {
    font-size: 12px;
  }
  .awards-thumb img {
    height: 40px;
  }
}
@media screen and (max-width: 780px) {
  nav::after {
    bottom: 0 !important;
  }
  .contact-us-conatiner {
    flex-direction: column;
    padding-top: 20px;
  }
  .corp-text {
    font-size: 22px;
  }
  .banner-text,
  .course span {
    font-size: 12px;
  }
  .feature-container,
  .intro-corp-training,
  .serve-companies {
    margin-top: 50px;
  }
  .navigation-section ul {
    flex-direction: column;
    row-gap: 30px !important;
    /* row-gap: 20px !important; */

  }
  .ULI {
    position: relative !important;
  }
 
  .course-left-section ul {
    row-gap: 20px !important;
  }
  .navigation-container {
    position: absolute;
    min-width: 100%;
    left: 0;
    padding: 20px 0;
    top: 63px;
    text-align: center;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid #000;
    display: none;
    height: 510px;
  }
  .logo-container {
    height: 32px;
  }
 
  .logo-container img {
    height: 50px;
    width: auto;
    margin: -14px 0 0 0px;
  }
  #course-text:hover .dropdown,
  .mail {
    display: none;
  }
  .nav-container {
    height: 64px;
    padding: 10px;
    align-items: center;
  }
  .hamburger {
    display: block !important;
    cursor: pointer;
  }
  .dropdown {
    top: 0px;
    justify-content: center;
    background: #f6f6f6;
    color: #fff;
    padding: 0;
    border: none;
    z-index: 1000;
    height: 660px;
    /* width:auto; */
    width:100%;
  }


  .TRAI-ning {
    top: 275px;
    width: 100vw;
    left: auto;
  }
  .TRAI-ning .course-detail-section {
    padding: 20px;
    height: 100vh;
    overflow-x: scroll !important;
  }
  .course-left-section ul li {
    border: none;
    font-size: 14px;
    color: #000;
    text-align:center;
    margin-left: 0;
  }
  .course-img {
    height: 50px;
    width: 50px;
  }
  .course span {
    color: grey;
    max-width: 180px;
  }
  #active-dropdown-course {
    color: #000 !important;
    border-color: #ff5421;
    border-left: 5px solid #ff5421;
  }
  .course-detail-section {
    padding: 20px 0;
    height: 65vh;
  }
  .course-left-section {
    display: flex;
    margin: 0 16px;
  }
  .course {
    row-gap: 10px;
  }
  .course-image-text {
    row-gap: 8px;
  }
}
@media (max-width: 767px) {
  .BANN {
    height: 16rem;
  }
  .INS {
    font-size: 25px !important;
    font-weight: 700 !important;
    color: #fff !important;
    text-align: center;
  }
  .banner-container {
    margin-top: 50px;
    padding: 30px 0;
  }
  .fr {
    margin: 30px 0 11px;
  }
  .banner-box {
    margin: 35px 0 0 !important;
    padding: 0 0 0 15px !important;
  }
}
@media (max-width: 640px) {
  .banner-box {
    margin: 8px 0 0 !important;
  }
}
@media only screen and (max-width: 345px) and (min-width: 321px) {
  .banner-box {
    margin: 8px 0 0 !important;
  }
}
@media only screen and (max-width: 4000px) and (min-width: 1600px) {
  .banner-logo img {
    width: 75% !important;
    height: 115% !important;
    margin: -35px 0 0 !important;
  }
}
@media only screen and (max-width: 4000px) and (min-width: 1899px) {
  .career-session-right-box img {
    width: 60%;
    margin: -2rem 0 0 20rem;
  }
  .img1 img {
    margin: 0 !important;
    width: 85% !important;
    height: 80% !important;
  }
  .B-O-O-K {
    padding: 0;
    margin: -5rem 0 0;
  }
  .certificate-right-box img {
    width: 80%;
  }
  .nav-link {
    padding: 0 !important;
  }
  .course-image-text {
    display: none;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 5px;
  }
  .contact-us-conatiner {
    justify-content: space-around;
  }
  .corp-banner-img {
    height: 45rem;
  }
}
@media only screen and (max-width: 1899px) and (min-width: 1600px) {
  .career-session-right-box img {
    width: 75%;
    margin: -4rem 0 0 12rem;
  }
  .nav-link {
    padding: 0 !important;
  }
  .course-image-text {
    display: none;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 5px;
  }
}
@media only screen and (max-width: 998px) and (min-width: 768px) {
  .banner-left-box {
    padding: 0;
    margin: 0 !important;
  }
  .course-banner-sections-left {
    width: 100vw !important;
  }
}
@media only screen and (max-width: 1285px) and (min-width: 768px) {
  .categories {
    position: absolute;
    left: 360px;
    top: 13px;
  }
  .banner-left-box {
    padding: 0 0 0 15px;
    margin: 0 0 0 -70px;
  }
  .career-main-container {
    padding: 0 0 0 16px;
  }
  .career-session-right-box img {
    width: 100%;
    margin: 0 ;
}
  .career-session-right-box {
    display: flex;
    justify-content: center;
  }
  .scalar-recipe-card-section {
    width: 75%;
  }
  .scaler-reciper-card {
    width: 100%;
  }
  .certificate-section {
    flex-direction: row;
  }
  .scaler-reciper {
    width: 100% !important;
  }
  .inner-car img {
    height: -webkit-fill-available;
  }
  .col-md-6 {
    max-width: 100% !important;
  }
  .main-container {
    width: auto;
  }
  .above-line {
    padding: 0 0 0 15px;
  }
  .best-companies-container h2 {
    font-size: 17px;
    margin: -10px 0 20px;
  }
  .place {
    width: 100%;
    height: 18rem;
  }
  .alumni-img-section img {
    height: 100vh;
    width: 80%;
    border-radius: 10px;
  }
  .cour {
    overflow: hidden;
    height: 100%;
    width: 100vw;
  }
  .review-container h2 {
    font-size: 17px;
    margin: 45px 0 10px 15px;
  }
}
@media only screen and (max-width: 1116px) and (min-width: 1100px) {
  .inner-card {
    height: 160px !important;
    margin: 0 0 -12px !important;
  }
  .alumni-img-section img {
    height: 135%;
    width: 50%;
    border-radius: 10px;
  }
  .data_main_heading {
    text-align: center;
  }
  .career-session-right-box img {
    width: 100%;
    margin: -2rem 0 0;
  }
}
@media only screen and (max-width: 1040px) and (min-width: 900px) {
  .ISR {
    height: 115px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 768px) {
  .ISR {
    height: 220px;
  }
}
@media only screen and (max-width: 1285px) and (min-width: 1115px) {
  .ISR1 {
    height: 175px;
    bottom: -117px;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 768px) {
  .ISR1 {
    height: 220px;
    bottom: -65px;
  }
}
