@import url(https://fonts.googleapis.com/css2?family=Poltawski+Nowy&family=Poppins&family=Roboto&family=Roboto+Slab:wght@300&family=Rubik:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poltawski+Nowy&family=Poppins&family=Roboto+Slab:wght@300&family=Roboto:wght@100;400&family=Rubik:wght@500&display=swap);
body,
ul {
  padding: 0;
  margin: 0;
}


.dropdown-close-btn
  {
    position: absolute;
    top: 5px;
    right: 10px;
  }

.above-line,
.above-line-alumni,
.learner-number,
.nav-container {
  position: relative;
}
.btn-container button,
.footer-middle p,
.ft-course,
.intro-text,
.nav-top-head,
.scaler-reciper-card span {
  font-family: Roboto, sans-serif;
}
.course-card-container::-webkit-scrollbar-thumb {
  background: #ff5421;
}
.ourse-card-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body {
  font-family: Rubik, sans-serif;
}
a {
  text-decoration: none;
}
button {
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
::selection {
  background-color: #ff5421;
  color: #fff;
}
.main-container {
  width: 90vw;
  margin: auto;
}
body h3 {
  font-size: 18px;
}
ul li {
  list-style: none;
  cursor: pointer;
}
h2 {
  font-size: 30px;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
.nav-top-head {
  font-size: 14px;
  display: flex;
  color: #000;
  justify-content: flex-end;
  column-gap: 10px;
  background-color: #f7fafe;
  padding: 14px 10px;
  height: 46px;
}
.nav-top-head a {
  color: #000 !important;
  font-weight: 700;
  display: inline-block;
}
.SER ul,
.se ul {
  font-weight: 550;
}
nav::after {
  position: absolute;
  content: "";
  border: 1px solid grey;
  width: 100%;
  bottom: 0 !important;
}
.glow-on-hover,
.hamburger {
  color: #fff;
  border-radius: 5px;
}
.nav-container {
  background-color: #fff;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  height: 65px;
  padding: 0 20px;
  align-items: flex-end;
}
.logoimages {
  height: 7rem;
  background: #f7fafe;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 -21px;
}
.loG {
  height: 90px;
  width: auto;
  margin: 10px 0 0 0;
}
.navigation-container {
  margin: 0 0 10px;
}
#active-dropdown-course {
  color: #000 !important;
  border-color: #00d9a9;
  background-image: linear-gradient(to right, #f96, #ff5e62);
  width: 21vw;
  min-width: 20vw;
  border-radius: 0 30px;
}
.social-media-container ul {
  display: flex;
  column-gap: 20px;
}
.SER ul,
.navigation-section ul,
.se ul {
  display: flex;
  column-gap: 35px;
}
.navigation-section ul {
  height: 35px;
}
.se ul {
  height: 21px;
}
.SER ul {
  height: 35px;
  align-items: center;
}
.navigation-section ul a {
  text-decoration: none;
  color: #000;
}
.dropdown {
  position: absolute !important;
  top: 65px;
  background-color: #fff;
  width: 100%;
  display: none;
  min-height: 475px;
  border-bottom: 1px solid #000;
}
/* .dropdown:hover {
  display: block !important;
} */
.hamburger {
  position: absolute;
  right: 15px;
  font-size: 25px;
  background: #ff5421;
  padding: 7px;
  display: none !important;
}
.hamburger:hover {
  color: #ff5421;
  background-color: wheat;
}
.active-dropdown {
  display: block;
}
.dropdown-course {
  left: 0;
}
.course-detail-section {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}
.course-left-section ul,
.pop-up-form-container form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.course-left-section ul li {
  color: grey;
  font-size: 16px;
  min-height: 60px;
  display: flex;
  align-items: center;
  border-left: 5px solid #fff;
  transition: border-color 0.3s;
  justify-content: center;
}
.course-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.course-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
/* .courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 0 0;
  border: 1px dashed #ff5421;
  border-radius: 10px;
  width: 20rem;
  height: 132px;
  box-shadow: 0 0 10px 10px rgb(247 251 251);
} */

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 0 0;
  border: 1px dashed #ff5421 !important;
  border-radius: 10px;
  width: 20rem;
  height: 132px;
  box-shadow: 0 0 10px 10px rgb(247 251 251);
  flex: 0 0 calc(33.333% - 35px);
  /* margin: 10px; */
  box-sizing: border-box;
  border: 1px solid #ddd;
  /* padding: 15px; */
  text-align: center;
}


@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px 0 0;
    border: 1px solid #eae7e7;
    border-radius: 10px;
    width: 17rem;
    height: 132px;
    box-shadow: 0 0 10px 10px rgb(247 251 251);
    margin: -15px 15px 0 0 !important;
  }
  .nav-link {
    display: block;
    padding: 0 !important;
  }
}
.course-card-section,
.course-name-section ul {
  box-shadow: 0 0 6px 0.2rem rgb(178 178 178 / 16);
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .courses {
    width: 15rem;
  }
  .cad {
    height: 32rem !important;
    font-size: 15px;
  }
  .project-thumb {
    min-width: 22vw !important;
    height: 550px !important;
    background: #f7fafe;
    border: 1px solid #eef1ff;
    border-radius: 12px;
    padding: 2vw;
    margin-bottom: 58px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1235px) {
  .courses {
    width: 14rem;
  }
  .cad {
    height: 37rem !important;
    font-size: 16px;
  }
  .project-thumb {
    min-width: 22vw;
    height: 600px !important;
    background: #f7fafe;
    border: 1px solid #eef1ff;
    border-radius: 12px;
    padding: 2vw;
    margin-bottom: 58px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .courses {
    width: 14rem;
  }
  .cad {
    height: 44rem !important;
    font-size: 16px;
  }
  .project-thumb {
    min-width: 22vw;
    height: 600px;
    background: #f7fafe;
    border: 1px solid #eef1ff;
    border-radius: 12px;
    padding: 2vw;
    margin-bottom: 58px;
  }
}
.cou {
  justify-content: center;
  display: flex;
}
.sp {
  margin: 5px 0 0 7px !important;
}
.coursep {
  display: inline-block;
  font-size: 13px;
  font-weight: 500 !important;
  text-align: -webkit-center;
  margin: 5px;
}
.ds {
  height: 35px !important;
  margin: 0 !important;
}
.glow-on-hover {
  width: 70px;
  height: 20px;
  outline: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  font-size: 10px;
  border: none;
}
#form-parent,
#videoContainer,
.pop-up-form-container {
  z-index: 9999;
  position: fixed;
}
.glow-on-hover:after,
.glow-on-hover:before {
  z-index: -1;
  content: "";
  border-radius: 10px;
  position: absolute;
}
.coursea {
  margin: -9px 0 0 !important;
}
#active-course,
.banner-section,
.btns {
  display: flex;
}
.glow-on-hover:before {
  background: linear-gradient(
    45deg,
    red,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    red
  );
  top: -2px;
  left: -2px;
  background-size: 400%;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: 20s linear infinite glowing;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.certificate-right-box-container i:hover,
.glow-on-hover:active {
  color: #000;
}
.glow-on-hover:active:after {
  background: 0 0;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  width: 100%;
  height: 100%;
  background: #ff5421;
  left: 0;
  top: 0;
}
@keyframes glowing {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
}
.course span {
  width: 200px;
  text-align: center;
}
.course-image-text {
  display: none;
  flex-wrap: wrap;
  row-gap: 30px;
}
.course-right-section {
  width: 76% !important;
  padding: 0;
}
.pop-up-form-container {
  width: 40vw;
  margin: auto;
  top: 0;
  left: 30%;
  display: none;
}
.form-section {
  position: relative;
  padding: 30px;
  background-color: #080808b5;
  border-radius: 5px;
}
.pop-up-form-container form input {
  padding: 10px;
  border-radius: 3px;
  border: none;
}
.pop-up-form-container i {
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
}
.schedule label,
.schedule-time {
  font-size: 12px;
  color: #fff;
}
.pop-up-form-container i:hover {
  color: #fff !important;
}
.form-top-head {
  text-align: center;
  color: #fff;
  margin: 10px 0;
}
.ache,
.city,
.schedule,
.time-part {
  display: flex;
  flex-direction: column;
}
.schedule-time {
  display: flex;
  justify-content: space-between;
}
.pop-up-form-container form select {
  width: auto;
  text-align: initial;
  background-color: #fff;
}
.banner-container {
  width: 80vw;
  margin-top: 81px;
}
@keyframes fallingEffect {
  0% {
    transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.digit {
  display: inline-block;
  color: #ff5124;
  opacity: 0;
}
.falling-effect {
  animation: 1s ease-in-out forwards fallingEffect;
  opacity: 0;
}
.learner-number::before {
  position: absolute;
  content: "+";
  color: #ff5124;
  top: -10px;
  right: -8px;
}
.learner-people-group-img-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  column-gap: 40px;
}
.banner-ul,
.iG {
  height: 40px !important;
}
.banner-ul li img {
  max-width: 40px !important;
}
.banner-right-box {
  width: 50%;
  height: fit-content;
}
.banner-left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.associate-logo,
.certified-logo {
  align-items: center;
  display: flex;
}
.associate-logo {
  border-radius: 8px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}
#browse-course-btn,
#get-started-btn:hover {
  border: 1px solid #ff5124;
  color: #ff5124;
  background: 0 0;
}
.associate-logo img {
  width: 20%;
}
.banner-logo {
  display: flex;
  height: 300px;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: -30px;
}
.banner-logo img,
.certificate-right-box img,
.course-card-section img,
.duration .tab-content img,
.place {
  width: 100%;
}
.dash-line {
  background: #000;
  height: 2px;
  margin: 0 30px;
  width: 5px;
}
.banner,
.partner {
  background-color: #f7fafe;
}
.certified-logo {
  -webkit-column-gap: 15px;
  column-gap: 15px;
}
.certified-logo img {
  width: 12%;
}
.banner {
  padding-bottom: 50px;
  margin-top: 105px;
}
.btn-container button {
  padding: 10px 15px;
}
#get-started-btn {
  background-color: #ff5124;
  border: none;
  color: #fff;
}
#browse-course-btn:hover {
  background: #ff5124;
  color: #fff;
}
.btn-container {
  display: flex;
  column-gap: 10px;
}
.partner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  color: #000;
  padding: 25px 0;
}
.partner h3 {
  font-size: 25px !important;
  padding-bottom: 5px;
  border-bottom: 3px solid #ff5421;
}
.partner-company-img-container {
  display: block;
  column-gap: 25px;
  flex-wrap: wrap;
  row-gap: 25px;
  padding: 7px;
  justify-content: center;
  width: 100%;
}
#apply-btn,
.apply-bt {
  padding: 10px 15px;
  background-color: #ff5124;
  color: #fff;
  border: none;
}
.partner-company-img-container img {
  transition: 0.5s;
  cursor: pointer;
}
.companies-container img:hover,
.partner-company-img-container img:hover {
  transform: scale(1.2);
}
.awards-recognition-container {
  margin-top: 100px;
  position: relative;
  text-align: center;
}
.above-line::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 5px;
  background: #ff5124;
  top: -25px;
}
.awards-section {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.awards-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  width: 200px;
  opacity: 0;
}
.awards-thumb .citiesimg {
  height: 90px;
}
.awards-thumb span {
  text-align: center;
  height: 60px;
}
.career-section-thumb {
  display: flex;
  position: relative;
}
.career-section-thumb::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 5px;
  background: #ff5124;
  top: -17px;
}
.career-session-right-box {
  width: 50%;
}
.career-session-right-box img {
  width: 90%;
  margin: -4rem 0 0 5rem;
}
.apply-bt {
  margin: 16px 0 0;
}
.explore-courses-container,
.numbers-container {
  display: flex;
  margin-top: 50px;
}
#apply-btn:hover,
.right-left-arrow i:hover,
.watch-video-section:hover {
  color: wheat;
}
.numbers-thumb {
  width: 125px;
}
.numbers-thumb p {
  font-size: 14px;
  width: 120px;
}
.numbers-thumb h3 {
  position: relative;
  width: fit-content !important;
}
.numbers-thumb h3::before {
  position: absolute;
  content: "+";
  color: #ff5124;
  top: -15px;
  right: -8px;
}
#hcl-img {
  height: 50px;
}
#form-parent {
  display: none;
  width: 100%;
  top: 0;
  justify-content: center;
}
.form-main-container {
  position: relative;
  width: 50vw;
  color: #000;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #fff;
}
.form-main-container i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 40px;
  cursor: pointer;
}
.form-main-container i:hover,
.office-thumb .address p {
  color: #000 !important;
}
.form-header-container .header-section {
  text-align: center;
  margin: 20px 0;
}
.subscibe {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
}
.detail h3,
.footer-flex p,
.subscibe label {
  margin: 0;
}
.form-container form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.form-container form input {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: #ebebeb;
}
.form-container form .input-section {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.training-course-select-section {
  display: flex;
  justify-content: space-around;
}
form select {
  padding: 10px !important;
  width: 45%;
  border-radius: 3px;
  text-align: center;
  font-weight: 700;
  border: none;
  background-color: #ebebeb;
}
.submit-btn {
  text-align: center;
  background: #ff5421 !important;
  color: #fff;
  padding: 15px 0 !important;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}
.explore-courses-container {
  justify-content: space-evenly;
  width: auto;
}
.course-card-thumb {
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
  display: none;
}
.course-card-section {
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ededed;
}
.course-card-section p {
  min-height: 35px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 15px;
}
.course-card-section span {
  font-size: 12px;
}
.logo {
  display: flex;
  height: 25px;
  justify-content: space-between;
  align-items: center;
}
.logo img,
.tion {
  width: auto;
}
.future-skill-img {
  height: 90%;
}
.nasscom-img {
  height: 80% !important;
}
.logo .line {
  height: 100%;
  width: 2px;
  background-color: #000;
}
.name-placement,
.time-month-student {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-card-section ul {
  margin-top: 5px !important;
}
.view {
  width: fit-content;
  border-bottom: 1px solid #fff;
  transition: border-color 0.5s;
}
.view:hover {
  border-color: #ff5421;
}
.st-image {
  display: flex;
  position: relative;
  width: 80px;
  height: 30px;
}
.st-image li img {
  border-radius: 50%;
  max-width: 25px;
  height: 100%;
}
.st-image li {
  position: absolute;
  height: 100%;
}
.course-name-dropdown {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s;
}
.course-name-dropdown:hover,
.page-navigation ul a:hover {
  border-bottom: 1px solid #ff5421;
}
.course-name-section ul {
  padding: 15px 10px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ededed;
}
.course-name-section ul li {
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  color: #000;
  border-radius: 5px;
}
#check,
.course-name-section ul li:active,
.course-name-section ul li:hover {
  background: #ff5421;
  color: #fff;
}
.course-card-container {
  position: relative;
  height: 473px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.course-card-container::-webkit-scrollbar {
  display: none;
}
#active {
  display: grid;
}
.feature-container,
.intro-corp-training,
.scalar-recipe-container,
.serve-companies,
.training-technoloies-conatiner {
  margin-top: 100px;
}
.registered-office-container h1,
.scalar-recipe-container h2 {
  margin-bottom: 50px;
}
.scaler-reciper-card {
  opacity: 0;
  position: relative;
  text-align: center;
  min-height: 300px;
  width: 350px;
  padding: 15px 20px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ededed;
  box-shadow: 0 0 6px 0.2rem rgb(178 178 178 / 16);
}
.inner-card,
.scaler-reciper {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 6px 0.2rem rgb(178 178 178 / 16);
}
.scaler-reciper-card h3 {
  color: #121212;
}
.scaler-reciper-card span {
  color: #fff;
}
.inner-card {
  height: 150px;
  bottom: -17%;
  padding: 10px;
  position: absolute;
  width: 83%;
  left: 8%;
  border: 1px solid #ededed;
}
.cont,
.inner-card img {
  height: 100%;
}
.scalar-recipe-card-section {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}
.scalar {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}
.scaler-reciper {
  opacity: 0;
  position: relative;
  text-align: center;
  min-height: 370px;
  width: 515px;
  padding: 15px 20px;
  border: 1px solid #ededed;
  margin: 0 0 10rem;
}
.inner-car img {
  height: 164px;
}
.inner-car {
  height: 185px;
  bottom: -25%;
  padding: 10px;
  position: absolute;
  width: 83%;
  left: 8%;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #ededed;
  box-shadow: 0 0 6px 0.2rem rgb(178 178 178 / 16);
}
.card-2 {
  background: #f6d9ff;
}
.card-3 {
  background: #ffcbb6;
}
.certificate-container {
  margin-top: 150px;
  background: #f7fafe;
  color: #000;
  width: auto;
}
.certificate-section {
  align-items: center;
  display: flex;
  margin: 50px auto;
  display: flex;
  width: 90%;
  padding: 20px 0 0;
}
.with-partner {
  display: flex;
  align-items: center;
  background: #fff;
  width: 200px;
  padding: 5px 0;
  justify-content: space-around;
}
.with-partner img {
  height: 28px;
}
.certificate-detail ul li {
  height: 25px;
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  column-gap: 30px;
}
.certificate-left-box h2 {
  line-height: 38px;
}
.certificate-detail {
  margin-top: 30px;
}
.vertical-line {
  height: 100%;
  width: 3px;
  background-color: #ff5421;
  border-radius: 20px;
}
.certificate-right-box {
  display: flex;
  left: 0;
  position: relative;
  transition: left 0.3s;
}
.certificate-right-box-container {
  position: relative;
  width: 50%;
  overflow: hidden;
  height: fit-content;
  border: 10px solid #992300;
}
.certificate-right-box-container i {
  font-size: 40px;
  position: absolute;
  top: 50%;
  z-index: 5;
  color: grey;
  cursor: pointer;
}
.companies-img-container {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 0 18px rgba(24, 39, 75, 0.05);
  padding: 10px 20px;
}
.companies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.companies-container img {
  height: 25px;
  margin: 25px;
  transition: transform 0.5s;
  cursor: pointer;
}
#overlay,
.google-map iframe {
  width: 100%;
  height: 100%;
}
.google-map {
  border: 7px solid #c2c2c2;
  margin-top: 100px;
  height: 350px;
}
.best-companies-container {
  background: #f7fafe;
  padding: 35px 0;
}
.best-companies-container h2,
.review-container h2,
.serve-companies h2 {
  padding: 0 0 20px;
}
.review-container {
  width: 90vw;
}
.review-card-section {
  display: grid;
  row-gap: 20px;
  grid-template-columns: auto auto;
  justify-items: center;
}
.review-card {
  opacity: 0;
  height: 200px;
  padding: 30px 10px;
  width: 90%;
  display: flex;
  border-radius: 8px;
  background-color: #7406d7;
  color: #fff;
  border: 1px solid #ededed;
  box-shadow: 0 0 6px 0.2rem rgb(178 178 178 / 16);
  align-items: center;
  transition-property: height;
  transition-duration: 0.5s;
}
.learner-img-box {
  padding: 0 20px;
}
.alumni-review-section i,
.right-left-arrow i {
  font-size: 40px;
  background-color: #ff5124;
  color: #fff;
  cursor: pointer;
}
.learner-img-box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.placement-company {
  display: flex;
  align-items: center;
  height: 12px;
  width: fit-content;
  padding: 10px;
  background-color: #fff;
  border-radius: 50px;
  column-gap: 10px;
}
.placement-company img {
  height: 12px;
}
.placement-company span {
  font-size: 12px;
  color: #000;
}
.review-card .review-text {
  font-size: 14px;
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
  line-height: 1.5em;
  height: 67px;
  transition: height 0.3s;
}
.learner-review-detail .show-hide {
  color: #000;
  cursor: pointer;
}
.card-2 {
  background-color: #bc50ff;
}
.card-1 {
  background-color: #4a92ff;
}
.card-3 {
  background-color: #ff8a5a;
}
.card-4 {
  background-color: #ff9b45;
}
.alumni-main-container {
  margin-top: 100px;
  background-color: #f7fafe;
  color: #000;
  padding: 30px 0;
}
.alumni-container h2,
.alumni-container h3,
.career-session-container h3 {
  margin: 10px 0;
}
.alumni-detail-container {
  display: flex;
  justify-content: space-evenly;
}
#videoContainer {
  justify-content: center;
  top: 20%;
  left: 25%;
  display: none;
  width: 50vw;
  transition: 0.8s;
  -moz-transition: 0.8s;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
}
#videoContainer.show {
  top: 50% !important;
}
#videoContainer iframe {
  width: 100%;
  height: 400px;
}
#videoContainer i {
  position: absolute;
  right: 0;
  font-size: 30px;
  cursor: pointer;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  backdrop-filter: blur(5px);
}
.watch-video-section {
  background: #ff5421;
  width: fit-content;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
.alumni-group-img-section {
  background-image: url("/image/alumni.webp");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  color: #fff;
  border-radius: 10px;
  background-size: 80%;
  height: 453px;
}
.alumni-number {
  position: relative;
  width: fit-content;
}
.alumni-number::before {
  position: absolute;
  content: "+";
  color: #fff;
  top: -15px;
  right: -20px;
}
.alumni-img-section {
  width: 350px;
}
.alumni-img-section img {
  height: 80%;
  width: 100%;
  border-radius: 10px;
}
.right-left-arrow {
  float: right;
}
.alumni-review-section {
  width: 400px;
  position: relative;
}
.alumni-review-section p {
  line-height: 25px;
  color: #000 !important;
}
.alumni-image-detail-section {
  position: relative;
  display: flex;
  left: 0;
  transition: left 0.3s;
}
.alumni-image-thumb {
  position: relative;
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.alumni-image-detail-container {
  width: 67%;
  overflow: hidden;
}
.above-line-alumni::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: #ff5124;
  top: -8px;
}
.career-image-section img {
  width: 90%;
  height: 90%;
  margin: -10px 0 0;
}
.career-main-container {
  background-color: #f7fafe;
  margin-top: 100px;
  color: #000;
  margin-bottom: 70px;
}
.career-session-container {
  padding: 40px 0;
  display: flex;
  column-gap: 100px;
  position: relative;
  margin-top: 100px;
}
.detail {
  display: flex;
  column-gap: 30px;
  margin-bottom: 50px;
}
.call-whatsapp,
.footer-container h1,
.footer-flex {
  column-gap: 10px;
  display: flex;
}
.detail i {
  color: #ff5124;
  display: flex;
  font-size: 40px;
  align-items: center;
}
.session-detail {
  margin-top: 50px;
}
.session-detail p {
  color: grey;
}
.icon-section {
  min-width: 75px;
}
.explore-btn {
  text-align: center;
  border: 1px solid #ff5421;
  color: #ff5421;
  padding: 15px 0;
  border-radius: 5px;
  cursor: pointer;
}
.office-thumb,
.query-thumb {
  border-radius: 8px;
  box-shadow: 0 0 6px 0.2rem rgb(178 178 178 / 16);
}
.explore-btn:hover {
  background-color: #ff5421;
  color: #fff !important;
}
.contact-banner-container {
  background: #ff5421;
  margin-top: 105px;
  position: relative;
  height: 400px;
}
.contact-banner-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("/image/Contactus-banner.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}
.banner-text,
.texts {
  opacity: 7;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.query-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.query-thumb {
  text-align: center;
  padding: 50px;
}
.query-thumb i {
  font-size: 40px;
  color: #ff5421;
}
.registered-office-container {
  margin-top: 100px;
  padding: 0 0 40px;
}
.office-details-conatainer,
.queries-btn {
  display: flex;
  justify-content: space-between;
}
.office-thumb {
  max-width: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.address {
  height: 115px;
}
.headingcolor,
.office-thumb h3,
.office-thumb p {
  color: #ff5421;
}
.office-thumb i {
  color: #ff5124;
}
footer {
  background-color: #0e0e0e !important;
  margin-top: 70px;
}
.bg-dark {
  background-color: transparent !important;
}
.footer-form {
  position: static;
  display: flex;
  justify-content: space-around;
  padding: 15px 0 0;
}
.footer-main-form-container .form-header-container .header-section {
  margin: 9px 0 22px !important;
  font-size: 25px;
  font-weight: 600;
}
.footer-main-form-container {
  background-color: #f7fafe;
  color: #000;
}
.footer-form select,
.footer-form-container .input-section input,
.footer-middle hr {
  background-color: #fff;
}
.price-queries-container {
  background-color: #080808b5;
  color: #fff;
  padding: 15px 85px;
  border-radius: 5px;
}
.price-queries-container button:hover {
  background-color: #fff;
  color: #080808b5;
}
.placement-project-thumb {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 40px;
}
.price-queries-container button {
  padding: 10px 20px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: Roboto, sans-serif;
}
.feature-card,
.intro-text {
  box-shadow: 0 0 6px 0.2rem rgb(178 178 178 / 16);
  border-radius: 8px;
}
.price-queries-container h2 {
  margin-bottom: 30px;
}
.price-queries-container h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.call-whatsapp {
  align-items: center;
  margin: 20px 0;
}
.footer-flex {
  align-items: center;
  margin-bottom: 20px;
}
.footer-content {
  display: flex;
  color: #fff;
  justify-content: space-between;
}
.footer-content h3 {
  font-size: 16px;
  margin-bottom: 16px;
}
.row h3 {
  font-size: 16px;
}
.section-1 {
  color: #fff;
  font-size: 15px;
}
.footer-content ul li {
  margin-bottom: 12px;
  font-size: 14px;
}
.copyright p,
.footer-content ul li a {
  color: #fff;
}
.footer-container h1 {
  align-items: center;
}
.footer-container img {
  height: 30px;
}
.social-icon-container i {
  font-size: 30px !important;
  color: #fff;
}
.footer-bottom h2 {
  color: #fff;
  font-size: 20px !important;
  margin: 20px 0 0;
}
.ft-course a {
  color: #fff;
  font-size: 14px;
}
.ft-course {
  margin-bottom: 30px;
}
.footer-middle,
.mb-5 {
  margin: 0 !important;
}
.footer-middle {
  row-gap: 30px;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.footer-middle p {
  max-width: 320px;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
}
.footer-thumb {
  width: fit-content;
}
.footer-thumb-1 p {
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  text-align: justify;
}
.footer-thumb a {
  cursor: pointer;
  font-size: 14px;
  color: #fff !important;
}
.col-md-4 h3 {
  display: flex;
  height: 30px;
  align-items: center;
}
.corp-banner-img img,
.corp-banner-text {
  width: 100%;
  height: 100%;
}
.corp-banner-container {
  margin-top: 105px;
  position: relative;
  background-color: #000;
}
.corp-banner-text {
  position: absolute;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
}
.corp-banner-img {
  opacity: 0.5;
  height: 36rem;
}
.corp-text {
  font-size: 40px;
  position: relative;
  color: #fff;
}
.corp-text::before {
  position: absolute;
  content: "";
  height: 90%;
  width: 5px;
  background-color: #ff5421;
  left: -10px;
}
.feature-img,
.intro-corp-training h2,
.section-work-data {
  text-align: center;
}
.intro-text {
  margin-top: 50px;
  padding: 20px 15px;
}
.feature-container h2 {
  text-align: center;
  border-bottom: 1px solid #ff5421;
  margin-bottom: 50px;
}
.feature-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 40px;
}
.feature-card {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  transition: 0.5s;
}
.feature-card:hover {
  transform: scale(1.03);
  background-color: #ff5421;
  color: #fff;
}
.feature-card:hover h5 {
  background-color: #fff;
  color: #ff5421;
}
.feature-card img {
  height: 80px;
  width: 80px;
}
.feature-card p {
  width: 350px;
  font-family: Roboto;
  line-height: 25px;
}
.contact-us-left-box button,
.contact-us-left-box h3,
.contact-us-left-box span {
  font-family: roboto, sans-serif;
}
.feature-card h5 {
  background: #ff5421;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  font-size: 16px;
  padding: 10px;
  transition: 0.5s;
}
.training-technoloies-conatiner h2 {
  text-align: center;
  margin-bottom: 50px;
}
.tools-technologies {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 40px;
}
.tools-technologies img {
  height: 45px;
  width: 45 px;
}
.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 240px;
  border: 2px solid #ff5421;
  border-radius: 3px;
}
.contact-us-conatiner {
  display: flex;
  background-color: #080808b5;
  margin-top: 100px;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}
.book-form .form-cont,
.placem {
  background-color: #f7fafe;
}
.contact-us-left-box {
  display: flex;
  color: #fff;
  flex-direction: column;
  row-gap: 20px;
}
.contact-us-left-box span {
  font-size: 20px;
}
.contact-us-left-box button {
  width: fit-content;
  padding: 12px 20px;
  background-color: #fff;
  color: #ff5421;
  border: none;
}
.contact-us-left-box button:hover {
  color: #fff;
  background-color: #ff5421;
}
.contact-us-right-box img {
  height: 400px;
}
.contact-us-right-box {
  padding-right: 60px;
}
.Train {
  width: auto !important;
}
.email {
  height: 20px;
  margin: -3px 0 0;
}
.whats {
  height: 23px;
  width: 25px;
  margin: -2px 0 0;
}
.page-navigation {
  position: sticky;
  top: 80px;
  border-bottom: 1px solid #000;
}
.page-navigation ul {
  display: flex;
  column-gap: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  font-size: 14px;
  color: #ff5421;
  font-weight: 600;
}
.page-navigation ul a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
#active-page-navigation {
  border-bottom: 2px solid #ff5421;
}
.footer .footer-bottom .ft-course a {
  display: inline-block;
  color: #fff !important;
  border-right: 3px solid #ff5421 !important;
  padding-right: 7px;
  padding-left: 4px;
  margin-bottom: 5px;
  line-height: 13px;
  font-size: 14px;
}
.foo {
  max-width: 100% !important;
}
.half-fluid {
  margin-left: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
  padding: 0;
}
.image {
  background-position: center;
  min-height: 400px;
  height: 100%;
}
.right-half {
  padding-right: 0 !important;
  position: absolute;
  right: 0;
  left: 50%;
  margin-left: auto;
  width: auto;
}
.co,
.con,
.imr {
  width: 100% !important;
}
.paddi {
  margin: 0 0 0 -60px;
}
.con {
  border-radius: 15px;
}
.imr {
  margin: 6rem 0 0 !important;
}
.nas {
  height: 75px !important;
  border-radius: 4px !important;
  margin: 20px 0 0;
  width: 320px;
}
.nasc {
  margin: 10px 0 0;
}
.nasco {
  border-radius: 5px;
  height: 5rem !important;
  width: 14rem !important;
  margin: 12px 0 0;
}
@media (max-width: 280px) {
  .nas {
    max-height: 40px !important;
    border-radius: 4px !important;
    margin: 20px 0 0 -1px !important;
  }
  .footer-container img {
    height: 21px;
  }
  .feature-card {
    padding: 20px 10px;
    box-shadow: 0 0 6px 0.2rem rgb(178 178 178 / 16);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    transition: 0.5s;
    width: 251px !important;
  }
  .serve-companies,
  footer,
  html {
    width: 390px;
  }
  .feature-card p {
    width: 230px;
    font-family: Roboto;
    line-height: 25px;
  }
  footer {
    background-color: #0e0e0e !important;
    margin-top: 70px;
  }
  html {
    overflow-x: hidden !important;
  }
  .corp-banner-container {
    margin-top: 235px;
    position: relative;
    background-color: #000;
  }
}
@media (max-width: 340px) {
  .nas {
    max-height: 55px !important;
    border-radius: 4px !important;
    margin: 20px 0 0 -1px !important;
    width: 268px;
  }
  .nas1 {
    height: 70px !important;
    margin: 15px 0;
    background: #fff;
    border-radius: 10px;
    width: 273px !important;
  }
  .feature-card,
  .serve-companies,
  footer,
  html {
    width: 320px !important;
  }
  .footer-container img {
    height: 21px;
  }
  .feature-card {
    padding: 20px 10px;
    box-shadow: 0 0 6px 0.2rem rgb(178 178 178 / 16);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    transition: 0.5s;
  }
  .feature-card p {
    width: 300px;
    font-family: Roboto;
    line-height: 25px;
  }
  footer {
    background-color: #0e0e0e !important;
    margin-top: 70px;
  }
  html {
    overflow-x: hidden !important;
  }
  .corp-banner-container {
    margin-top: 135px;
    position: relative;
    background-color: #000;
  }
}
.city span {
  color: #ff5421;
  font-size: 20px;
  margin: 12px 0 0;
}
.marg {
  height: 115px;
  border-radius: 5px;
}
.cad {
  font-size: 15px !important;
}
.cards {
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
  display: none;
}
.cour {
  overflow: hidden;
  height: 100%;
  width: 94vw;
}
.explore {
  width: 92.5vw;
  margin: auto;
  display: block;
}
.act {
  row-gap: 30px;
  column-gap: 30px;
}
.to {
  margin: 7rem 0 4rem 5rem !important;
}
#main-nav {
  z-index: 1000;
  background-color: #fff;
  position: fixed !important;
  color: #000;
}
.dropdown-course {
  display: none;
}
.fixed #main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.banner-image-container {
  background: #ff5421;
  margin-top: 105px;
  position: relative;
}
.aboutus {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
.book-form {
  padding: 0;
  overflow-x: hidden;
}
.book-form .form-cont h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #000;
}
.program {
  display: flex;
  align-items: baseline;
}
.book-form .form-cont span {
  font-size: 17px;
  color: #000;
  margin-bottom: 24px;
  display: block;
  font-weight: 500;
}
.book-form .form-cont .info-head {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
.book-form .form-cont .buttons a {
  border: 2px solid #ff5421;
  display: inline-block;
  margin-right: 35px;
  padding: 8px 15px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 28px;
  border-radius: 15px;
}
.book-form .form-cont .buttons a:hover {
  background-color: #ff5421;
  color: #fff;
  border: 2px solid #f9eeee;
}
.BOOK,
.BOX,
.INS-IMG,
.img1 img {
  border-radius: 10px;
}
.book-form .form-cont {
  padding: 62px 45px;
  color: #000;
  border-radius: 15px;
}
.lo img {
  margin: -40px 0 68px;
  height: 35px;
}
.data1 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.BOX,
.sum {
  display: flex;
}
.data_main_heading {
  color: #000;
  padding-top: 40px;
  font-size: xx-large;
  font-weight: 800;
}
.IN-PUT,
.INS {
  font-weight: 700 !important;
}
.data_main_subheading {
  color: #000;
  text-align: center;
  padding: 20px 219px;
}
.IN-PUT,
.INS,
.sk_branding a {
  color: #fff !important;
}
.sk_branding a {
  display: none !important;
}
.sum {
  align-items: flex-start;
}
.BOX,
.data_ {
  justify-content: center;
}
.headi {
  text-align: center !important;
}
.BooK {
  padding: 150px 0 0;
}
.BOOK {
  width: 82% !important;
  height: 78% !important;
}
.TITLE {
  font-size: 22px !important;
}
.des {
  font-size: 20px !important;
}
.job {
  height: 99% !important;
}
.job img {
  height: 12rem !important;
}
.BANN {
  height: 40rem;
}
.INS {
  font-size: 45px !important;
}
.BANN-ER {
  background: #000 !important;
  height: 37rem !important;
  margin: 84px 0 0;
}
.IN-PUT {
  font-size: 17px;
}
.FOOT-ER form {
  row-gap: 15px !important;
}
.INS-IMG {
  height: 50%;
}
#tor {
  margin: -6rem 0 0 18px;
  height: 25rem !important;
}
.BOX {
  height: 115px;
  width: 190px;
  align-items: center;
  background-color: #ff5421;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0 -2px 6px 0 inset;
}
.nas1,
.nas2 {
  height: 80px !important;
}
.cAD {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 40px;
  justify-content: space-evenly !important;
}
.PAR-a {
  color: #fff;
  padding: 20px;
  font-size: 16px;
}
.sk-ig-profile-usename {
  display: none !important;
}
.social-giveback {
  display: grid;
  grid-template-columns: 45vw auto;
  margin-top: 0;
}
.img1 img {
  width: 90%;
  height: 85%;
  margin: 15px 0 0;
}
.data_ {
  display: flex;
  padding-top: 20px;
}
.data__ {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  font-size: medium;
  font-weight: 400;
}
.lon p {
  color: #000;
  text-align: justify;
}
.spn {
  color: #ff5421;
  margin: 0 0 0 10px;
}
.nas1 {
  margin: 15px 0;
  background: #fff;
  border-radius: 10px;
}
.nas2,
.nas3 {
  margin: 0 0 15px;
  width: 180px !important;
  background: #fff;
  border-radius: 10px;
}
.nas3 {
  height: 70px !important;
}
.course-card-thumb a {
  color: #ff5421;
  text-decoration: none !important;
}
.course-card-thumb a:hover {
  color: #00f;
}
.TRAI-ning {
  min-height: 310px;
}
